<h1 class="pageHeader">
    Page: Snippets list
</h1>

<table id="snippetTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Created</th>
            <th>Last modified</th>
        </tr>
    </thead>
    <tbody>        
        {{#if viewData.snippets.length}}
        {{#each viewData.snippets}}
        <tr>
            <th><a href="/crud/snippets/{{this.id}}">{{this.name}}</a></th>
            <td>{{this.createdAt}}</td>
            <td>{{this.modifiedAt}}</td>
        </tr>
        {{/each}}
        {{else}}
        <tr>
            <td>Could not find snippets.</td>
        </tr>
        {{/if}}
        </tbody>
</table>