<div id="main">
    <h1 class="pageHeader">Snippets List</h1>
    <div id="snippetTableContainer">
        <table id="snippetTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Created</th>
                    <th>Last modified</th>
                    <th>Created by</th>
                </tr>
            </thead>
            <tbody>        
                {{#if viewData.snippets.length}}
                {{#each viewData.snippets}}
                <tr class="snippetTr">
                    <th><a href="/crud/snippets/{{this.id}}">{{this.name}}</a></th>
                    <td><a href="/crud/snippets/{{this.id}}">{{this.createdAt}}</a></td>
                    <td><a href="/crud/snippets/{{this.id}}">{{this.modifiedAt}}</a></td>
                    <td><a href="/crud/snippets/{{this.id}}">{{this.owner}}</a></td>
                </tr>
                {{/each}}
                {{else}}
                <tr>
                    <td>Could not find snippets.</td>
                </tr>
                {{/if}}
                </tbody>
        </table>
    </div>
</div>